@using PropertyManagerFL.Application.Interfaces.Services.AppManager;
@using PropertyManagerFL.Application.Interfaces.Services.Common;
@using PropertyManagerFL.Core.Entities;
@using PropertyManagerFL.Application.ViewModels.Despesas;
@using PropertyManagerFL.Application.ViewModels.LookupTables;
@using PropertyManagerFL.Application.ViewModels.Recebimentos;
@using PropertyManagerFL.Application.ViewModels.TipoDespesa;
@using PropertyManagerFL.Application.ViewModels.TipoRecebimento;
@using static PropertyManagerFL.Application.Shared.Enums.AppDefinitions;

<div>
    <HeaderDialogComponent HeaderCaption="@L["TituloPagamentos"]" ImageName="payment" />
    <hr style="color:black">
</div>
<div class="container-fluid">
    <EditForm Model="@SelectedRecord">
        <div class="group-box">
            <div class="form-group">
                <SfDatePicker Enabled="@(!EditMode)" Placeholder="@L["TituloMovimento"]" Width="160px"
                              CssClass="e-align-middle e-corner" Max="DateTime.Now"
                              FloatLabelType="FloatLabelType.Always"
                              @bind-Value="@SelectedRecord.DataMovimento">
                    <DatePickerEvents TValue="DateTime" ValueChange="OnDateChange"></DatePickerEvents>
                </SfDatePicker>
            </div>
            <div class="form-group w-100">
                <SfDropDownList TValue="int" TItem="LookupTableVM" AllowFiltering="true" CssClass="e-dropdown-popup ml-5"
                                @bind-Value="@idxFracao" ShowClearButton="true" Enabled="@(!EditMode)"
                                FilterBarPlaceholder="@L["TituloSelecao"]" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                                Placeholder="@L["TituloFracao"]" DataSource="@Fracoes" FloatLabelType="FloatLabelType.Always">
                    <DropDownListTemplates TItem="LookupTableVM">
                    </DropDownListTemplates>
                    <DropDownListEvents TValue="int" TItem="LookupTableVM" ValueChange="onChangeFracao"></DropDownListEvents>
                    <DropDownListFieldSettings Value="Id" Text="Descricao"></DropDownListFieldSettings>
                </SfDropDownList>
            </div>
        </div>

        @if (!HideTenantName)
        {
            <div class="group-box">
                <div class="form-group w-100 mt-2">
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloInquilino"]"
                               CssClass="e-field  e-corner"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@nomeInquilino">
                    </SfTextBox>
                </div>
                <div class="form-group mt-2">
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloRenda"]"
                               CssClass="e-field  e-corner"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@ValorRenda.ToString("C2")">
                    </SfTextBox>
                </div>
                <div class="form-group mt-2">
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloUltimoMesPago"]"
                               CssClass="e-field  e-corner"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@ultimoPagamentoRenda.ToShortDateString()" />
                </div>
            </div>
        }

        <div class="group-box mt-2">
            <SfDropDownList TValue="int" Enabled="@(!EditMode)" TItem="LookupTableVM" AllowFiltering="true" CssClass="e-dropdown-popup ml-5"
                            @bind-Value="@idxTipoRecebimento" ShowClearButton="true" Width="300px"
                            FilterBarPlaceholder="@L["TituloSelecao"]" FilterType="Syncfusion.Blazor.DropDowns.FilterType.Contains"
                            Placeholder="@L["TituloTipo"]" DataSource="@TiposRecebimento" FloatLabelType="FloatLabelType.Always">
                <DropDownListTemplates TItem="LookupTableVM">
                </DropDownListTemplates>
                <DropDownListEvents TValue="int" TItem="LookupTableVM" ValueChange="onChangeTipoRecebimento"></DropDownListEvents>
                <DropDownListFieldSettings Value="Id" Text="Descricao"></DropDownListFieldSettings>
            </SfDropDownList>
        </div>
        <div class="form-group mt-2">
            @if (EditMode == false) // insert
            {
                <SfNumericTextBox Placeholder="@L["TituloValorRecebido"]" @bind-Value="@SelectedRecord.ValorRecebido"
                                  Format="C2" FloatLabelType="FloatLabelType.Always"
                                  TValue="decimal"
                                  Width="150px"
                                  Enabled="@(EnableValue && EditMode ==false)"
                                  Min="1"
                                  Max="50000" Decimals="2" Step="10"
                                  ShowSpinButton=true
                                  Currency="EUR">
                    <NumericTextBoxEvents TValue="decimal" ValueChange="(e => onAmountChanged(e))"></NumericTextBoxEvents>
                </SfNumericTextBox>
            }
            else // edit
            {
                <div class="d-flex justify-content-around">
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloValorPago"]"
                               CssClass="e-field  e-corner right-align"
                               Width="100px"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@ValueReceived.ToString("C2")">
                    </SfTextBox>
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloValorPrevisto"]"
                               CssClass="e-field  e-corner right-align"
                               Width="100px"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@SelectedRecord.ValorPrevisto.ToString("C2")">
                    </SfTextBox>
                    <SfTextBox Readonly="true"
                               Placeholder="@L["TituloValorAPagar"]"
                               CssClass="e-field  e-corner right-align"
                               Width="100px"
                               FloatLabelType="@FloatLabelType.Always"
                               Value="@SelectedRecord.ValorEmFalta.ToString("C2")">
                    </SfTextBox>
                </div>
            }
        </div>
        <div class="form-group mt-3">
            <SfTextBox Multiline=true Placeholder="@L["TituloNotas"]"
                       HtmlAttributes="NotesAttribute"
                       CssClass="e-field e-corner"
                       FloatLabelType="FloatLabelType.Always"
                       @bind-Value="@SelectedRecord.Notas">
            </SfTextBox>
        </div>
    </EditForm>
</div>

<ValidateErrorComponent Visible="@ErrorVisibility" DialogTitle="@L["TituloRecebimentos"]"
                        ValidationMessages="@ValidationsMessages"
                        OnCloseDialog="@(()=>ErrorVisibility = false)" />

<AlertUserComponent AlertMessageType="AlertMessageType.Warning"
                    Title="@alertTitle"
                    OperationType="OpcoesRegisto.Warning"
                    Visibility="@AlertVisibility"
                    Message="@WarningMessage"
                    OnCloseDialog="(()=>AlertVisibility=false)"></AlertUserComponent>



<style>
    .custom-class.e-control-wrapper .e-textbox {
        text-align: center;
    }

    .right-align.e-control-wrapper .e-textbox {
        text-align: right;
    }
</style>
