@page "/monthlyrentprocessing"

@using PropertyManagerFL.Application.ViewModels.Recebimentos;
@using PropertyManagerFL.UI.Pages.ComponentsBase
@using static PropertyManagerFL.Application.Shared.Enums.AppDefinitions;

@inherits MonthlyRentProcessingBase

<PageTitle>@L["TituloProcessamentoRendas"]</PageTitle>
<PageTitleComponent PageTitle="@L["TituloProcessamentoRendas"]" WithBadge="false"></PageTitleComponent>

<div class="container-fluid d-flex">
    <ConfirmMonthlyRentProcessing AlertMessageType="AlertMessageType.Warning"
                                  DialogTitle="@L["TituloProcessamentoRendas"]"
                                  Message="@MonthToProcess"
                                  Visible="@ConfirmVisibility"
                                  MessageSeverityType=MessageSeverity.Warning
                                  OnConfirmationYes="ProcessMonthlyRents"
                                  OnConfirmationNo="CloseDialog" />
</div>


@if (ProcessedRents is null)
{
    <LoadingData />
}
else
{
    @if (NoProcessedMonth)
    {
        <div>
            <SfMessage Severity="MessageSeverity.Info"
               ShowIcon="false"
               ShowCloseIcon="false"
               Variant="MessageVariant.Filled">
                @L["TituloNaoHaMesesProcessados"]
            </SfMessage>
        </div>
    }
    else
    {
        <div class="container-fluid">
            <div class="group-box-left">
                <SfButton CssClass="e-success e-round-corner" IconCss="fas fa-plus" Content="@L["NewMsg"]"
                  @onclick="@(()=>ConfirmVisibility = true)" IsPrimary="true">
                </SfButton>
            </div>
            <div class="w-25 mt-2">
                <div>
                    <SfMessage Severity="MessageSeverity.Normal"
                       ShowIcon="false"
                       ShowCloseIcon="false"
                       Variant="MessageVariant.Filled">
                        @L["TituloMesesProcessados"]
                    </SfMessage>
                </div>
                <hr class="bg-black my-1">
                <SfGrid DataSource="ProcessedRents">
                    <GridColumns>
                        <GridColumn Field=@nameof(ProcessamentoRendasDTO.Mes) HeaderText="@L["TituloMes"]" Width="50" />
                        <GridColumn Field=@nameof(ProcessamentoRendasDTO.Ano) HeaderText="@L["TituloAno"]" Width="50" />
                        <GridColumn Field=@nameof(ProcessamentoRendasDTO.DataProcessamento) Format="d" HeaderText="@L["TituloDataEmissao"]" Width="120" />
                        <GridColumn Field=@nameof(ProcessamentoRendasDTO.TotalRecebido) Format="C2" HeaderText="@L["TituloValorPrevisto"]" Width="120" />
                    </GridColumns>
                </SfGrid>
            </div>

        </div>
    }
}


<AlertUserComponent AlertMessageType="@AlertMessageType"
                    Title="@AlertTitle"
                    OperationType="@WarningType"
                    Visibility="@WarningVisibility"
                    Message="@WarningMessage"
                    XPosition="center"
                    YPosition="center"
                    OnCloseDialog="GetBack"></AlertUserComponent>

<div class="container">
    <SfDialog Width="60%"
              Height="auto"
              IsModal="true"
              ShowCloseIcon="false"
              CloseOnEscape="false"
              AllowDragging="true"
              @bind-Visible="AddEditMonthlyTransactionsVisibility">
        <DialogTemplates>
            <Content>
                <ConfirmRentsPaidBatchProcessing Transactions="BatchTransactions" />
            </Content>
            <FooterTemplate>
                <div>
                    <SfButton CssClass="e-primary e-round-corner" IconCss="fas fa-check"
                              @onclick="@HandleBatchTransaction" Content="@L["TituloConfirmar"]">
                    </SfButton>
                    <SfButton CssClass="e-outline e-round-corner" IconCss="fas fa-times" Content="@L["btnCancelar"]"
                              @onclick="@HandleCancelBatchTransaction">
                    </SfButton>
                </div>
            </FooterTemplate>
        </DialogTemplates>
        <DialogAnimationSettings Effect="DialogEffect.SlideTop" Duration=500></DialogAnimationSettings>
    </SfDialog>
</div>


<SfToast ID="toast_custom" @ref="ToastObj"
         Title="@ToastTitle" Icon="fas fa-user"
         Content="@ToastMessage"
         CssClass="@ToastCss" Timeout="2000"
         ShowProgressBar="true"
         ShowCloseButton="true">
    <ToastAnimationSettings>
        <ToastShowAnimationSettings Effect="ToastEffect.FadeIn"></ToastShowAnimationSettings>
        <ToastHideAnimationSettings Effect="ToastEffect.FadeOut"></ToastHideAnimationSettings>
    </ToastAnimationSettings>
    <ToastButtons>
        <ToastButton CssClass="e-btn e-success e-round-corner" Content="@L["btnFechar"]" OnClick="CloseDialog"></ToastButton>
    </ToastButtons>
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>


