@page "/scheduler"
@page "/scheduler/search-events"
@* @implements IDisposable *@

@using PropertyManagerFL.Application.Interfaces.Services.AppManager
@using PropertyManagerFL.Application.ViewModels.Appointments
@using PropertyManagerFL.UI.Data.Scheduler;
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Schedule

<PageTitle>Agenda</PageTitle>
<PageTitleComponent PageTitle="Agenda" />

<SfSpinner @ref="SpinnerObj"
           Label="@L["MSG_PreparandoDados"]"
           Type="SpinnerType.Bootstrap5"
           CssClass="e-spin-overlay">
</SfSpinner>

@if (ApptResources?.Count == 0 || DataSource is null)
{
    <LoadingData />
}
else
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 control-section">
                <SfSchedule TValue="AppointmentVM" @ref="ScheduleRef" @bind-CurrentView="@CurrentView"
                            Width="100%"
                            CssClass="@(ShowSchedule ? string.Empty : "schedule-hide")"
                            Height="650px" @bind-SelectedDate="@CurrentDate">
                    <ScheduleWorkHours Highlight="true" Start="08:00" End="20:00"></ScheduleWorkHours>
                    <ScheduleResources>
                        <ScheduleResource TItem="ResourceData" TValue="int" DataSource="@ApptResources"
                                          Field="ApptType" Title="@L["TituloTipo"]" Name="ApptTypes" TextField="Text" IdField="Id"
                                          ColorField="Color"></ScheduleResource>
                    </ScheduleResources>

                    <ScheduleEvents TValue="AppointmentVM"
                                    EventRendered="OnEventRendered"
                                    OnActionFailure="OnActionFailure"
                                    OnActionBegin="OnActionBegin"
                                    ActionCompleted="OnActionCompleted" />
                    <ScheduleEventSettings TValue="AppointmentVM"
                                           DataSource="@DataSource">

                        @*
                    <SfDataManager Url="@_appointmentsUri"
                    UpdateUrl="@_appointmentsUri_Update"
                    RemoveUrl="@_appointmentsUri_Delete"
                    InsertUrl="@_appointmentsUri_Insert"
                    Adaptor="Adaptors.UrlAdaptor" />
                    *@

                        @*
                    <SfDataManager Url="@_appointmentsUri"
                    Adaptor="@Syncfusion.Blazor.Adaptors.WebApiAdaptor"/>
                    *@

                        <ScheduleField>
                            <FieldSubject Title="@L["msgUploadSubject"]"></FieldSubject>
                            <FieldDescription Title="@L["lblSinopse"]"></FieldDescription>
                        </ScheduleField>
                    </ScheduleEventSettings>
                    <ScheduleTemplates>
                        <ScheduleViews>
                            <ScheduleView Option="View.Day"></ScheduleView>
                            <ScheduleView Option="View.Week"></ScheduleView>
                            <ScheduleView Option="View.WorkWeek"></ScheduleView>
                            <ScheduleView Option="View.Month"></ScheduleView>
                            <ScheduleView Option="View.Agenda"></ScheduleView>
                        </ScheduleViews>
                    </ScheduleTemplates>
                </SfSchedule>

                @if (!ShowSchedule)
                {
                    <SfGrid DataSource="gridDataSource" Width="auto" Height="505px">
                        <GridColumns>
                            <GridColumn Field="Subject" HeaderText="@L["msgUploadSubject"]" Width="120px"></GridColumn>
                            <GridColumn Field="Location" HeaderText="@L["lblLocalArquivo"]" Width="120px"></GridColumn>
                            <GridColumn Field="StartTime" HeaderText="@L["TituloInicio"]" Width="120px" Format="g" Type="ColumnType.DateTime"></GridColumn>
                            <GridColumn Field="EndTime" HeaderText="@L["TituloFim"]" Width="120px" Format="g" Type="ColumnType.DateTime"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                }
            </div>

            @* Search events panel *@
            <div class="col-lg-3 property-section property-customization">
                <br>
                <div class="property-panel-section">
                    <div class="property-panel-header header-customization" style="width: 100%;"><b>@L["TituloAgendaPesquisaTodosCampos"]</b></div>
                    <div class="property-panel-content">
                        <SfTextBox ID="events-search" Placeholder='@L["TituloAgendaTextoPesquisar"]' @bind-Value="@SearchValue" OnChange="@OnEventSearch"></SfTextBox>
                    </div>
                    <div class="event-search mt-2">
                        <div class="property-panel-header header-customization" style="width: 100%;"><b>@L["TituloAgendaPesquisaCamposEspecificos"]</b></div>
                        <table id="property-specific" style="width:100%">
                            <tbody>
                                <tr class="row">
                                    <td class="property-panel-content" colspan="2">
                                        <div>
                                            <SfTextBox ID="searchEventName" @bind-Value="@SubjectValue" Placeholder="@L["msgUploadSubject"]"></SfTextBox>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row" style="height: 45px">
                                    <td class="property-panel-content" colspan="2">
                                        <div>
                                            <SfTextBox ID="searchEventLocation" @bind-Value="@LocationValue" Placeholder="@L["lblLocalArquivo"]"></SfTextBox>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row" style="height: 45px">
                                    <td class="property-panel-content" colspan="2">
                                        <div>
                                            <SfDatePicker TValue="DateTime?" @bind-Value="@DateStart" Placeholder="@L["TituloDataInicio"]"></SfDatePicker>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="row" style="height: 45px">
                                    <td class="property-panel-content" colspan="2">
                                        <div>
                                            <SfDatePicker TValue="DateTime?" @bind-Value="@DateEnd" Placeholder="@L["TituloDataFim"]"></SfDatePicker>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end gap-2 mt-1">
                            <hr />
                            <div>
                                <SfButton CssClass="e-btn e-primary e-outline e-round-corner" IconCss="fa fa-search" Content="@L["btnPesquisar"]" OnClick="@OnSearchClick"></SfButton>
                            </div>
                            <div>
                                <SfButton CssClass="e-btn e-outline e-round-corner" IconCss="fa fa-times" Content="@L["btnLimpar"]" OnClick="@OnClearClick"></SfButton>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

<SfToast ID="toast_custom" @ref="ToastObj" ShowProgressBar=true
         Target=".e-schedule" NewestOnTop="true"
         Icon="@ToastIcon"
         CssClass="@ToastCss" Timeout="3000">
    <ToastTemplates>
        <Template>
            <div class="e-toast-template">
                <div class="e-toast-message">
                    <div class="e-toast-title">@ToastTitle</div>
                    <div class="e-toast-content">@ToastMessage</div>
                </div>
            </div>
        </Template>
    </ToastTemplates>
    <ToastAnimationSettings>
        <ToastShowAnimationSettings Effect="ToastEffect.SlideRightIn" />
        <ToastHideAnimationSettings Effect="ToastEffect.SlideRightOut" />
    </ToastAnimationSettings>
    <ToastButtons>
        <ToastButton Content="@L["btnFechar"]" OnClick="@HideToast"></ToastButton>
    </ToastButtons>
    <ToastPosition X="Right" Y="Bottom"></ToastPosition>
</SfToast>

<ValidateErrorComponent Visible="@WarningVisibility"
                        ValidationMessages="@ValidationsMessages"
                        OnCloseDialog="@(()=>WarningVisibility = false)" />

<style>
    .header-customization {
        padding-bottom: 10px;
    }

    .property-customization {
        padding-right: 5px;
    }

    .button-customization {
        padding: 15px 3px;
    }

    .schedule-hide {
        display: none;
    }

    @@media (max-width: 441px) {
        .button-customization {
            padding: 30px !important;
        }
    }
</style>