@page "/admin/adminpanel"

@implements IDisposable

@inject NavigationManager NavManager

@using System.Dynamic
@using PropertyManagerFL.Application.Extensions


@inherits PropertyManagerFL.UI.Pages.ComponentsBase.TabAuxBase

@*@attribute [Authorize]*@

<div class="card-box-ico">
    <SfBreadcrumb>
        <BreadcrumbItems>
            <BreadcrumbItem IconCss="e-icons e-home" Url="/" />
            <BreadcrumbItem IconCss="e-icons e-settings" Url="/admin/appsettings" Text="@L["lblManutencao"]" />
            <BreadcrumbItem IconCss="e-icons e-table-header" Text="Lookup tables" Url="/admin/adminpanel" />
        </BreadcrumbItems>
    </SfBreadcrumb>
</div>
<hr />
<AppConfiguration_Tables ChildTableToValidate="@tableToValidateFk" 
                         ItemsList="@GenericModelList"
                         FkFieldNameToValidate="@fieldToValidateFk"
                         PageTitle="@pageTitle"
                         WorkTableName="@selectedTableByAdmin"                         
                         TModel="ExpandoObject">
</AppConfiguration_Tables>

@code {

    string? selectedTableByAdmin;
    string? pageTitle;
    string? tableToValidateFk;
    string? fieldToValidateFk;


    protected override async Task OnInitializedAsync()
    {

        NavManager.TryGetQueryString<string>("DataTable", out selectedTableByAdmin);
        NavManager.TryGetQueryString<string>("PageTitle", out pageTitle);
        NavManager.TryGetQueryString<string>("TableToValidate", out tableToValidateFk);
        NavManager.TryGetQueryString<string>("FieldToValidate", out fieldToValidateFk);

        GenericModelList = (await GetDataGenerics<ExpandoObject>(selectedTableByAdmin)).ToList();
    }

    void IDisposable.Dispose()
    {
        ToastObj?.Dispose();
    }
}
