@page "/expenses/dashboard"
@using PropertyManagerFL.Application.Interfaces.Services.AppManager
@using PropertyManagerFL.Application.Interfaces.Services.Stats
@using PropertyManagerFL.Application.Shared.Enums
@using PropertyManagerFL.Application.ViewModels.Despesas
@using PropertyManagerFL.Application.ViewModels.Fracoes
@using PropertyManagerFL.Core.Entities
@using PropertyManagerFL.UI.Components.Cards

@using Microsoft.AspNetCore

<header>
    <div class="module-title">
        <div class="title">@L["TituloPainelDespesas"]</div>
        <div class="underline"></div>
    </div>
</header>
@if (expensesList is null || last5Transactions is null ||
CategoriesWithMoreSpending is null || CategoriesWithMoreSpendings_ByYear_Current is null ||
CategoriesWithMoreSpendings_ByYear_Prior is null)
{
    <LoadingData />
}
else
{
    <div id="dashboard" class="planner-dashboard">
        <div class="content view-detail-display" style="margin: 0px;">
            <div class="col-12 mb-3">
                <div class="container col-lg-12 col-md-12 col-sm-12">
                    <div class="row card-box">
                        <DashboardStatCard ResultadoAnual="@ExpensesThisYear.ToString("C2")"
                                           TituloAnual="@L["TituloDespesasEsteAno"]"
                                           ResultadoMensal="@ExpensesThisMonth.ToString("C2")"
                                           TituloMensal="@L["TituloDespesasEsteMes"]"
                                           ResultadoSemanal="@ExpensesThisWeek.ToString("C2")"
                                           TituloSemanal="@L["TituloDespesasEstaSemana"]"
                                           ResultadoDiario="@ExpensesToday.ToString("C2")"
                                           TituloDiario="@L["TituloDespesasHoje"]">
                        </DashboardStatCard>
                    </div>
                </div>
            </div>
            @if (expensesList.Any())
            {
                <div class="row">
                    <div class="col-lg-6 control-section sb-property-border">
                        <div class="control-section">
                            <SfMessage ContentAlignment="HorizontalAlign.Center" Severity="MessageSeverity.Info">@DateTime.Now.Year.ToString()</SfMessage>
                            <ExpPieChart @ref="PieChartRef"
                                         FilterType="C"
                                         Title="@L["TituloDespesasPorCategoria"]"
                                         Year="@(DateTime.Today.Year)" />
                        </div>
                    </div>
                    <div class="col-lg-6 control-section sb-property-border">
                        <div class="control-section">
                            <SfMessage ContentAlignment="HorizontalAlign.Center" Severity="MessageSeverity.Success">@DateTime.Now.AddYears(-1).Year.ToString()</SfMessage>
                            <ExpPieChart @ref="PieChartRef"
                                         FilterType="C"
                                         Title="@L["TituloDespesasPorCategoria"]"
                                         Year="@(DateTime.Today.Year - 1)" />
                        </div>
                    </div>
                </div>
            }
            else
            {
                <SfMessage Severity="MessageSeverity.Warning">@L["TituloSemDadosParaMostrar"]</SfMessage>
            }

        </div>
        @if (Expenses_ByType?.Count() > 0)
        {
            <div class="card-box">
                <div class="row">
                    <div class="col-lg-6 control-section sb-property-border">
                        <div class="control-section">
                            <ExpLineChart Year="@DateTime.Now.Year.ToString()" Expenses="@CategoriesSummaryCurrentYear" />
                        </div>
                    </div>
                    <div class="col-lg-6 control-section sb-property-border">
                        <div class="control-section">
                            <ExpLineChart Year="@DateTime.Now.AddYears(-1).Year.ToString()" Expenses="@CategoriesSummaryPreviousYear" />
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row card-box">
            <div class="col-md-4">
                <div class="table table-striped">
                    <AlertMessage Message="IRS Previsto" MessageType="AppDefinitions.AlertMessageType.Warning"></AlertMessage>
                    <SfGrid DataSource="@IRSValues" TValue="IRSResults"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(IRSResults.Descricao) HeaderText="@L["lblDescricaoCategoria"]"
                                        Width="200"></GridColumn>
                            <GridColumn Field=@nameof(IRSResults.ValorRenda) HeaderText="@L["TituloRenda"]"
                                        Format="C2"
                                        TextAlign="TextAlign.Right" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(IRSResults.ValorIRS) HeaderText="@L["TituloValorPagar"]"
                                        Format="C2"
                                        TextAlign="TextAlign.Right" Width="120"></GridColumn>
                        </GridColumns>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(IRSResults.ValorRenda) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate?.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                    <GridAggregateColumn Field=@nameof(IRSResults.ValorIRS) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate?.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>

                    </SfGrid>
                </div>
            </div>

            <div class="col-md-4">
                <div class="table table-striped">
                    <AlertMessage Message="IMI Previsto" MessageType="AppDefinitions.AlertMessageType.Warning"></AlertMessage>
                    <SfGrid DataSource="@IMIValues" TValue="IMIResults"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(IMIResults.Descricao) HeaderText="@L["lblDescricaoCategoria"]"
                                        Width="200"></GridColumn>
                            <GridColumn Field=@nameof(IMIResults.ValPatrimonio) HeaderText="@L["TituloValorPatrimonial"]"
                                        Format="C2"
                                        TextAlign="TextAlign.Right" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(IMIResults.ValorPagar) HeaderText="@L["TituloValorPagar"]"
                                        Format="C2"
                                        TextAlign="TextAlign.Right" Width="120"></GridColumn>
                        </GridColumns>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(IMIResults.ValPatrimonio) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate?.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                    <GridAggregateColumn Field=@nameof(IMIResults.ValorPagar) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate?.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>

                    </SfGrid>
                </div>
            </div>

            <div class="col-md-4">
                <div class="table table-striped">
                    <AlertMessage Message="Seguros" MessageType="AppDefinitions.AlertMessageType.Warning"></AlertMessage>
                    <SfGrid DataSource="@InsuranceValues" TValue="InsuranceResults"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(InsuranceResults.Descricao) HeaderText="@L["lblDescricaoCategoria"]"
                                        Width="200"></GridColumn>
                            <GridColumn Field=@nameof(InsuranceResults.Apolice) HeaderText="Apólice"
                                        TextAlign="TextAlign.Center" Width="150"></GridColumn>
                            <GridColumn Field=@nameof(InsuranceResults.Premio) HeaderText="Prémio"
                                        Format="C2"
                                        TextAlign="TextAlign.Right" Width="100"></GridColumn>
                        </GridColumns>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(InsuranceResults.Premio) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate?.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>
                    </SfGrid>
                </div>
            </div>
        </div>
        <div class="row card-box">
            <div class="col-md-6">
                <div class="table table-striped">
                    <SfMessage Variant="MessageVariant.Text" Severity="MessageSeverity.Success">@TituloCategoriaEsteAno</SfMessage>
                    <SfGrid DataSource="@CategoriesWithMoreSpendings_ByYear_Current"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(ExpensesSummaryData.Descricao) HeaderText="@L["TituloCategoria"]" Width="170" />
                            <GridColumn Field=@nameof(ExpensesSummaryData.NumeroMovimentos) HeaderText="@L["TituloContagem"]" TextAlign="TextAlign.Right" Width="60" />
                            <GridColumn Field=@nameof(ExpensesSummaryData.TotalDespesas) HeaderText="@L["TituloValor"]" TextAlign="TextAlign.Right" Format="C2" Width="80" />
                        </GridColumns>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(ExpensesSummaryData.TotalDespesas) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>
                    </SfGrid>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table table-striped">
                    <SfMessage Variant="MessageVariant.Text" Severity="MessageSeverity.Success">@TituloCategoriaAnoAnterior</SfMessage>
                    <SfGrid DataSource="@CategoriesWithMoreSpendings_ByYear_Prior"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(ExpensesSummaryData.Descricao) HeaderText="@L["TituloCategoria"]" Width="170" />
                            <GridColumn Field=@nameof(ExpensesSummaryData.NumeroMovimentos) HeaderText="@L["TituloContagem"]" TextAlign="TextAlign.Right" Width="60" />
                            <GridColumn Field=@nameof(ExpensesSummaryData.TotalDespesas) HeaderText="@L["TituloValor"]" TextAlign="TextAlign.Right" Format="C2" Width="80" />
                        </GridColumns>
                        <GridAggregates>
                            <GridAggregate>
                                <GridAggregateColumns>
                                    <GridAggregateColumn Field=@nameof(ExpensesSummaryData.TotalDespesas) Type="AggregateType.Sum" Format="C2">
                                        <FooterTemplate>
                                            @{
                                                var aggregate = (context as AggregateTemplateContext);
                                                <p class="my-1">@aggregate.Sum</p>
                                            }
                                        </FooterTemplate>
                                    </GridAggregateColumn>
                                </GridAggregateColumns>
                            </GridAggregate>
                        </GridAggregates>
                    </SfGrid>
                </div>
            </div>
        </div>

        <div class="row card-box">
            <div class="col-md-6">
                <div class="table table-striped">
                    <AlertMessage Message="@L["TituloCincoUltimosMovimentos"]" MessageType="AppDefinitions.AlertMessageType.Info"></AlertMessage>
                    <SfGrid DataSource="@last5Transactions"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(DespesaVM.DataMovimento) HeaderText="@L["TituloData"]"
                                        TextAlign="TextAlign.Center" Format="d" Width="100"></GridColumn>
                            <GridColumn Field=@nameof(DespesaVM.TipoDespesa) HeaderText="@L["TituloCategoria"]"
                                        Width="200"></GridColumn>
                            <GridColumn Field=@nameof(DespesaVM.Valor_Pago) HeaderText="@L["TituloValor"]" Format="C2"
                                        TextAlign="TextAlign.Right" Width="100"></GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
            <div class="col-md-6">
                <AlertMessage Message="@L["TituloResumo"]" MessageType="AppDefinitions.AlertMessageType.Warning"></AlertMessage>
                <div class="table table-striped w-50">
                    <SfGrid DataSource="@totExpensesList" TValue="ExpenseResults"
                            RowHeight="28"
                            GridLines="GridLine.Horizontal">
                        <GridColumns>
                            <GridColumn Field=@nameof(ExpenseResults.Description) HeaderText="@L["lblDescricaoCategoria"]"
                                        Width="200"></GridColumn>
                            <GridColumn Field=@nameof(ExpenseResults.Value) 
                                        HeaderText="@L["TituloValorPrevisto"]" TextAlign="TextAlign.Right"
                                        Width="150">
                                <Template>
                                    @{
                                        var value = (context as ExpenseResults).Value;
                                        var description = (context as ExpenseResults).Description;
                                        if (description.ToLower().Contains("total") || description.ToLower().Contains("%"))
                                        {
                                            string output = "";
                                            if (description.ToLower().Contains("total"))
                                            {
                                                output = $"<b>{value:C2}</b>";
                                            }
                                            else
                                            {
                                                output = $"{value} %";
                                            }

                                            var boldValue = $"<b>{value:C2}</b>"; // Make the value bold
                                            var ms = (MarkupString)output;
                                            @ms
                                        }
                                        else
                                        {
                                            var boldValue = $"{value:C2}"; 
                                            var ms = (MarkupString)boldValue;
                                            @ms
                                        }
                                    }
                                </Template>
                            </GridColumn>
                        </GridColumns>
                    </SfGrid>
                </div>
            </div>
        </div>
    </div>
}




<style>
    #main-page {
        overflow-x: hidden;
        background: linear-gradient(-141deg, #EEF5F7 14%, #EEF2FB 100%);
    }

    .sidebar-Rightpane {
        padding-bottom: 18px;
        margin-right: -2px;
    }

</style>
